/* Dashboard.css */

/* Global Styles */
/* body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
} */

/* Title Style */
/* .title-admin {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
} */

/* Container for Dashboard */
.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #222;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  height: 100vh; /* Adjust height to fit the entire viewport */
  background-color: #333;
  padding-top: 50px;
  position: fixed; /* Make the sidebar fixed */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left side of the viewport */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  /* margin-bottom: 200px; */
}

.sidebar-menu li {
  padding: 10px 20px;
  text-align: center;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
}

.sidebar-menu a:hover {
  color: #00bcd4;
}

/* Card Container Styles */
.card-container-venue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 200px;
  font-family: 'Poppins', sans-serif;
  /* background-color: whitesmoke; */
}

.card-venue {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #444;
}

.card-venue:hover {
  transform: translateY(-5px);
}

.card-venue img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content-venue {
  padding: 20px;
  text-align: center;
}

.card-content-venue h3 {
  margin: 0;
  font-size: 20px;
  color: #ccc;
}

.card-content-venue p {
  margin-top: 10px;
  font-style: italic;
  color: #ccc;
}

#approvebtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#approvebtn:hover {
  background-color: #45a049;
}
