/* VenueAddForm.css */

/* Container for the entire form */
.venue-add-form-container {
  width: 100%;
  /* max-width: 500px; */
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}


/* Form styles */
.venue-add-form-container form {
  /* display: flex; */
  /* flex-direction: column; */
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    margin-left: 470px;
  }


 .form-group {
  margin-bottom: 20px;
  /* margin-left: 500px; */
}

.venue-add-form-container form label {
  font-weight: bold;
}

.venue-add-form-container form input[type="text"],
.venue-add-form-container form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #555; /* Darker input background color */
  color: #fff; /* Light text color */
  border: none;
  border-radius: 4px;
}

.venue-add-form-container form .btn-submit {
  width: 30%;
  padding: 10px;
  background-color: #4CAF50; /* Green submit button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.venue-add-form-container form .btn-submit:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Venue card styles */
.card-container-venue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  /* justify-content: space-around; */
  margin-right: 150px;
}

.card-venue {
  width: 300px;
  margin: 10px;
  padding: 20px; /* Increased padding for better spacing */
  background-color: #444; /* Dark card background color */
  color: #fff; /* Light text color */
  border-radius: 8px;
}

.card-venue img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-content-venue {
  text-align: center;
}

.card-content-venue h3 {
  margin-top: 10px;
  margin-bottom: 10px; /* Increased margin for better spacing */
}

.card-content-venue p {
  margin-bottom: 10px; /* Increased margin for better spacing */
}

#approvebtn {
  padding: 8px 16px;
  background-color: #008CBA; /* Blue approve button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#approvebtn:hover {
  background-color: #005F6B; /* Darker blue on hover */
}
